@media screen and (min-width: 100px) and (max-width: 450px) {
    .left, .right {
        font-size: 5px !important;
    }
    .center {
        font-size: 8px !important;
        margin: 0 !important;
    }
}

@media screen and (min-width: 451px) and (max-width: 650px)
{
    .left, .right {
        font-size: 6px !important;
    }
    .center {
        font-size: 8px !important;
        margin: 5px 0 !important;
    }
}

@media screen and (min-width: 651px) and (max-width: 800px)
{
    .left, .right {
        font-size: 8px !important;
    }
    .center {
        font-size: 10px !important;
        margin: 10px 0 !important;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
}
.grid-container.ianthanides {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    margin: 0 5%;
}
.item2 {
  grid-area: 1 / 18;
}
.item5, .item13 {
    grid-area: 1 / 13; 
}
.item6, .item14 {
    grid-area: 1 / 14; 
}
.item7, .item15{
    grid-area: 1 / 15; 
}
.item8, .item16 {
    grid-area: 1 / 16; 
}
.item9, .item17 {
    grid-area: 1 / 17; 
}
.item10, .item18 {
    grid-area: 1 / 18; 
}
.grid-container>div {
    border: 1px solid black;
}
.item91{
    grid-area: 1/4;
}
.nemetal {
    background-color: #319eff;
}
.gas {
    background-color: #ffb23a;
}
.alcterre {
    background-color: #aa4bff;
}
.metaloid {
    background-color: #01ff71;
}
.halogene {
    background-color: #ffcd01; 
}
.transmetal {
    background-color: #32d3ff;
}
.metpauvre {
    background-color: #ff5924;
}
.ianthanide {
    background-color: #c2ff01; 
}
.actinide {
    background-color: #ff0202;
}
.metalalc{
    background-color: #f500ff;
}
.imagediv{
        width: 15%;
        margin: 0 auto;
    }
img {
    width: 100%;
}
.left {
    text-align: left;
    margin-bottom: 0px;
    font-size: 12px;
}
.right {
    text-align: right;
    margin-top: 0px;
    font-size: 12px;
}
.center {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}