body {
    background-color: #4f4f4f;
}
.header {
    background-color: #909090;
    box-shadow: 10px 10px 13px #000000bf;
    margin: 1% 15%;
    display: flex;
    border-radius: 10px;
}
.image42 {
    width: 80%;
    display: inline-block;
}
.image42 > img {
    width: 50%;
    display: inline-block;
    margin-top: 0.5%;
    margin-left: 0.5%;
}
.loupe {
    width: 30%;
}
.loupe > img {
    margin-top: 1%;
    position: absolute;
    margin-left: 8%;
    width: 12%;
}
.icon {
    width: 5%;
    display: inline-block;
}
.icon > a > img {
    display: block;
    margin-left: 50%;
    width: 38%;
}
.icon > a:nth-child(1) > img {
    padding-bottom: 100%;
    padding-top: 10%;
}
.images_left > img:nth-child(3) {
    border: 5px solid red;
    width: 50%;
}

.icon > a:nth-child(2) > img {
    padding-top: 30%;
}
.container {
    margin: 0 18%;
    display: inline-flex;
    height: 500px;
}
.images_left, .images_right {
    width: 12%;
    display: inline-block;
    background-color: #909090;
    box-shadow: 10px 10px 13px #000000bf;
    height: 65%;
    border-radius: 10px;
    padding-top: 2%;
}
.image_center {
    width: 70%;
    display: inline-block;
    margin: 0 3%;
}
.images_left > img, .images_right > img, .brick {
    width: 90%;
    height: 60px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}
.image_center > img {
    width: 99%;
    border: 5px solid #909090;
    border-radius: 10px;
    box-shadow: 10px 10px 13px #000000bf;
}
.brick {
    background-image: url("resources/brick.jpg");
}
.input {
    position: absolute;
    width: 25%;
    background-color: #88ff89;
    padding: 1% 0 3% 1%;
    box-shadow: 10px 10px 13px #000000bf;
    border-radius: 10px;
    margin-top: 22%;
    margin-left: -5%;
}
.input > p {
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
}
button {
    background-color: #e8e8e8;
}
input {
    width: 75%;
    margin-top: 1%;
}
.ikeea {
    position: absolute;
    margin: 15% 0 0 15%;
    width: 4%;
    height: 9%;
}
.apple {
    position: absolute;
    margin: 15% 0 0 35%;
    width: 8%;
    height: 9%;
}