.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #6eb4cf;
    min-width: 10%;
    z-index: 1;
}

.dropdown-content a, .hover a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.hover a {
    background-color: #6eb4cf;
}

.hover a:hover , .dropdown-content a:hover{
    background-color: #97cff4;
}
.hover {
    display: inline-block;
    width: 10%;
}
.dropdown:hover .dropdown-content {
    display: inline-block;
}
