.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#d56638;
    width: 50%;
    z-index: 1;
}
.dropdown-content > a{
    border: 1px solid white;
}

.dropdown-content a, .hover a {
    color: white;
    font-family: 'Source code pro', Calibri, sans-serif;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.hover a {
    background-color: #3a3e4c;
    border: 1px solid white;
}

.hover a:hover , .dropdown-content a:hover{
    background-color: #ec8b636b;
}
.hover {
    display: inline-block;
    width: 50%;;
}
.dropdown:hover .dropdown-content {
    display: inline-block;
}
 #menu {
    width: 50%;
    margin: 0 auto;
 }